body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  flex: 1;
}


.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  padding-left: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  background: royalblue;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: inherit;
  font-size: 24px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: flex-start;
  padding: 48px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 25px;
  padding-bottom: 50px;
  width: 300px;
}